<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyJournal</title>
    <link rel="stylesheet" href="/styles/home.css" />
    <script src="/scripts/home.js"></script>

    <!-- Imported Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- 
        TODO: Container with randomly generated inspirational quote
    -->
    <div id="container">
      <section id="head">
        <h1>My Journal</h1>
      </section>

      <section id="quote">
        <div id="inspo-quote-container">
          <h5><span class="quote">Generator Not Working</span></h5>
          <p id="author">Author's Name</p>
          <button class="next" onclick="getNewQuote()">Next quote</button>
        </div>
      </section>

      <section id="list">
        <h2>Links to Help Organizations</h2>
        <ul>
          <li>
            <a href="https://www.nami.org/"
              >National Alliance on Mental Illness</a
            >
          </li>
          <li><a href="https://psychcentral.com/">PsychCentral</a></li>
          <li><a href="https://www.verywellmind.com/">verywellmind</a></li>
          <li><a href="https://www.helpguide.org/">HelpGuide.org</a></li>
          <li><a href="https://www.goodtherapy.org/">GoodTherapy</a></li>
          <li><a href="https://www.calmsage.com/">Calm Sage</a></li>
        </ul>
      </section>

      <section id="entries">
        <h2 id="entry-head">Reading or Writing Today?</h2>

        <button id="new-entry" class="btn">
          <a href="new-entry">Make New Journal Entry</a>
        </button>
        <button id="prev-entries" class="btn">
          <a href="prev-entries">View Previous Entries</a>
        </button>
        <button id="aminals" class="btn">
          <a href="https://www.zooborns.com/">View Cute Baby Animals</a>
        </button>
      </section>

      <section id="foot">
        <p>
          &copy; 2024 Senatorum Imperialis. All rights protected by the Emperor
          of Mankind
        </p>
      </section>
    </div>
  </body>
</html>
