<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyJournal</title>
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <!-- 
        TODO: Container with randomly generated insirational quote
        TODO: Container with options to view old entries, create a new entry, or view cute pictures of baby animals
        TODO: Container with a list of support websites
    -->
    <div id="container">
      <section id="head">
        <h1>My Journal</h1>
      </section>
      <section id="quote">
        <div id="inspo-quote-container">
          <h3><span class="quote">Quote Here</span></h3>
          <p id="author">Author Name Here</p>
          <button class="next" onclick="getNewQuote()">Next quote</button>
        </div>
      </section>
      <section id="list">
        <h4>Links to Various Help Organizations</h4>
        <ul>
          <li><a href="">Example Link</a></li>
          <li><a href="">Example Link</a></li>
          <li><a href="">Example Link</a></li>
          <li><a href="">Example Link</a></li>
          <li><a href="">Example Link</a></li>
          <li><a href="">Example Link</a></li>
        </ul>
      </section>
      <section id="entries">
        <h3>Reading or Writing Today?</h3>
        <button class="btn"><a href="">Make New Journal Entry</a></button>
        <button class="btn"><a href="">View Previous Entries</a></button>
      </section>
      <section id="foot">
        <h2>Footer goes here</h2>
      </section>
    </div>
  </body>
</html>
