<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyJournal</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <!-- 
        TODO: Container with randomly generated insirational quote
        TODO: Container with options to view old entries, create a new entry, or view cute pictures of baby animals
        TODO: Container with a list of support websites
    -->
        <section id="head" class="section">
            <h1>My Journal</h1>
        </section>
        <section id="quote" class="section"></section>
        <section id="list" class="section"></section>
        <section id="entries" class="section"></section>
        <section id="foot" class="section">
            <h2>Footer goes here</h2>
        </section>
</body>
</html>