<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Journal Entry</title>
    <link rel="stylesheet" href="/styles/new-entry.css" />
    <!-- Imported Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- 
        TODO: Configure to make these entries private by having the user log in  
    -->

    <h1>Add To Your Journal</h1>

    <form id="entry-form" method="post" action="/new-entry">
      <fieldset id="userName">
        <label> Name: <input type="text" name="name" /> </label>
      </fieldset>

      <fieldset id="userFeeling">
        <label>Current Feeling: </label>

        <select id="feeling" name="feeling">
          <option value="none">-</option>
          <option value="angry">Angry</option>
          <option value="anxious">Anxious</option>
          <option value="confident">Confident</option>
          <option value="content">Content</option>
          <option value="happy">Happy</option>
          <option value="sad">Sad</option>
          <!-- List to be expanded at a later time -->
        </select>
      </fieldset>

      <fieldset id="userEntry">
        <label for="new-entry">Type out Your Thoughs Here</label> <br />

        <textarea rows="10" id="new-entry" name="newEntry"></textarea> <br />
      </fieldset>

      <button type="submit" id="btn">Confirm Entry</button>
    </form>
  </body>
</html>
