<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Previous Journal Entries</title>
    <link rel="stylesheet" href="/styles/prev-entries.css" />
    <!-- Imported Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Previous Entries</h1>
    <% if(data.length !== 0) { %>
    <ul>
      <% for(let i = 0; i < data.length; i++) { %>
      <li>
        <h4>Entry by: <%= data[i].name %></h4>
        <h4>You were feeling: <%= data[i].feeling %></h4>
        <p><%= data[i].newEntry %></p>
      </li>
      <p>---------------------------------------</p>
      <% } %>
    </ul>
    <% } else { %>
    <p>No Entries found!</p>
    <% } %>
  </body>
</html>
