body{
    margin: 0;
    padding: 0;
}

#container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "head head head head"
        "quote quote quote list"
        "quote quote quote list"
        "entries entries entries list"
        "entries entries entries list"
        "foot foot foot foot"
    ;
}

#head{
    grid-area: head;
    background-color: lightgoldenrodyellow;
}

#quote{
    grid-area: quote;
    background-color: lightcoral;

}

#list{
    grid-area: list;
    background-color: lightblue;
}

#entries{
    grid-area: entries;
    background-color: lightgreen;
}

#foot{
    grid-area: foot;
    background-color: lightsalmon;
}